.map {
  .container {
    @include for-769-px {
      padding: 0 20px;
    }

    @include for-470-px {
      padding: 0 10px;
    }
  }

  padding: 50px 0;

  @include for-1025-px {
    padding: 40px 0 60px;
  }

  @include for-769-px {
    padding: 25px 0 30px;
  }

  @include for-470-px {
    padding: 30px 0 30px;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;

    @include for-769-px {
      font-size: 20px;
      line-height: 23px;
    }

    @include for-470-px {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
    }
  }

  &__image {
    width: 100%;
    padding-bottom: 44%;
    border-radius: 0 100px;
    background-image: url('../images/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include for-470-px {
      border-radius: 0 30px;
    }
  }

  .gm-fullscreen-control,
  .gm-svpc,
  .gm-style-mtc {
    display: none;
  }

  &__ranges {
    display: flex;
    margin-bottom: 30px;

    @include for-470-px {
      margin-bottom: 10px;
      justify-content: space-between;
    }
  }

  &__range-box {
    margin-right: 94px;

    @include for-470-px {
      margin-right: 0;
    }
  }

  &__range-box,
  &__time-box {
    font-size: 20px;
    line-height: 23px;
    color: $text;

    @include for-769-px {
      font-size: 16px;
      line-height: 19px;
    }

    @include for-470-px {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__range-num,
  &__time-num {
    @extend %Roboto-700;
  }
}