.route {
  .search__content-box--where {
    @include for-470-px {
      display: block;
      margin-top: 1px;
      max-width: 100%;
    }
  }

  .search__content-input--where {
    @include for-470-px {
      border-left: none;
      padding: 12px;
    }
  }

  .search__content-swap {
    @include for-470-px {
      display: block;
      right: 13px;
      transform: rotate(90deg);
      top: 31px;
    }
  }
}