$main: #EBF1FD;
$accent: #F8991D;
$text: #200E32;
$default: #FCEFDF;
$footer-bg: #F1F2F7;
$link: #0662BA;
$btn: #225999;

%Roboto-900 {
  font-family: 'Roboto-Black',
    sans-serif;
  font-weight: 900;
}

%Roboto-700 {
  font-family: 'Roboto-Bold',
    sans-serif;
  font-weight: 700;
}

%Roboto-500 {
  font-family: 'Roboto-Medium',
    sans-serif;
  font-weight: 500;
}

%Roboto-400 {
  font-family: 'Roboto-Regular',
    sans-serif;
  font-weight: 400;
}

%Roboto-300 {
  font-family: 'Roboto-Light',
    sans-serif;
  font-weight: 300;
}