.branded-search {
  .container {
    @include for-769-px {
      padding: 0 20px;
    }

    @include for-470-px {
      padding: 0 10px;
    }
  }

  .top__inner {
    display: none;
  }

  .top__inner--active {
    display: none;
  }

  padding-bottom: 35px;

  @include for-769-px {
    padding-bottom: 30px;
  }

  @include for-470-px {
    padding-bottom: 20px;
  }

  &__bg {
    background-color: $link;
    border-radius: 0 50px;

    @include for-470-px {
      margin: 0 10px;
      border-radius: 0 0 0 30px;
    }
  }

  &__title {
    text-align: left;
    font-size: 45px;
    line-height: 53px;

    @include for-1025-px {
      font-size: 35px;
      line-height: 41px;
      margin-bottom: 30px;
    }

    @include for-769-px {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 20px;
    }

    @include for-470-px {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }
  }

  &__form {
    padding: 32px 0 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;

    @include for-1025-px {
      padding: 32px 0 40px;
    }

    @include for-470-px {
      flex-direction: column;
      padding: 30px 10px 40px;
      align-items: center;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__box-train {
    max-width: 358px;
    width: 100%;

    @include for-769-px {
      max-width: 224px;
      width: 100%;
    }

    @include for-470-px {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  &__box-to {
    position: relative;
    max-width: 208px;
    width: 100%;

    @include for-769-px {
      max-width: 122px;
      width: 100%;
    }

    @include for-470-px {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  &__box-where {
    max-width: 195px;
    width: 100%;

    @include for-769-px {
      max-width: 125px;
      width: 100%;
    }

    @include for-470-px {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  &__box-date {
    max-width: 200px;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 20px;
      bottom: 23px;
      width: 20px;
      height: 20px;
      background: url('../images/calendar.png') center no-repeat;

      @include for-769-px {
        left: 11px;
        bottom: 11px;
      }

      @include for-470-px {
        left: 20px;
      }
    }

    @include for-769-px {
      max-width: 147px;
      width: 100%;
    }

    @include for-470-px {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  &__calendar,
  &__calendar-train,
  &__calendar-tickets {
    padding: 10px !important;
    background: #fff;
    z-index: 2000 !important;
    filter: none !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: auto !important;
    top: 446px !important;
    margin-top: auto !important;
    left: 50% !important;
    transform: translateX(-90px) !important;

    @include for-1025-px {
      top: 384px !important;
    }

    @include for-769-px {
      right: 20px;
      display: block;
      width: 320px !important;

      .ui-datepicker-group+.ui-datepicker-group {
        margin-top: 10px;
      }
    }

    @include for-470-px {
      .ui-datepicker-group-last {

        .ui-datepicker-title,
        .ui-datepicker-calendar {
          display: none;
        }

        .ui-datepicker-next {
          position: absolute;
          top: 13px;
          right: 10px;
        }
      }
    }
  }

  &__calendar {
    right: 176px !important;

    @include for-769-px {
      top: 338px !important;
    }

    @include for-470-px {
      left: 50% !important;
      transform: translate(-50%) !important;
      top: 314px !important;
    }

    @include for-440-px {
      top: 337px !important;
    }
  }

  &__calendar-train {
    @include for-769-px {
      top: 319px !important;
    }

    @include for-470-px {
      left: 50% !important;
      transform: translate(-50%) !important;
      top: 363px !important;
    }

    @include for-321-px {
      top: 386px !important;
    }
  }

  &__calendar-tickets {

    @include for-769-px {
      top: 338px !important;
    }

    @include for-470-px {
      top: 314px !important;
      left: 50% !important;
      transform: translate(-50%) !important;
    }

    @include for-440-px {
      top: 337px !important;
    }
  }

  &__text {
    @extend %Roboto-500;
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    padding-left: 20px;
    margin-bottom: 7px;

    @include for-769-px {
      padding-left: 10px;
    }

    @include for-470-px {
      display: none;
    }
  }

  &__input,
  &__mobile-input {
    padding: 20px;
    border: none;
    border-radius: 0;
    outline: transparent;
    font-size: 20px;
    line-height: 23px;
    color: $text;
    width: 100%;
    border-right: 1px dashed $btn;

    &::placeholder {
      color: #B6CCE4;
    }

    @include for-769-px {
      padding: 12px 10px;
      font-size: 14px;
      line-height: 16px;
    }

    @include for-470-px {
      padding: 10px 20px;
      font-size: 12px;
      line-height: 19px;
      border: transparent;
    }
  }

  &__input-date,
  &__input--train-date,
  &__text-date {
    border-right: transparent;
    padding-left: 50px;


    @include for-769-px {
      padding-left: 40px;
    }

    @include for-470-px {
      padding-left: 55px;
      font-size: 12px;
    }
  }

  &__input-date--last {
    border-left: 1px dashed $btn;

    @include for-470-px {
      border: none;
    }
  }

  &__btn {
    padding: 20px 50px;
    background-color: $accent;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 10px;
    @extend %Roboto-700;
    font-size: 20px;
    line-height: 23px;
    height: 63px;

    @include for-769-px {
      height: 40px;
      padding: 12px 28px;
      font-size: 14px;
      line-height: 16px;
    }

    @include for-470-px {
      width: 100%;
      margin-left: 0;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.ui-datepicker-group+.ui-datepicker-group {
  margin-top: 0;
}