.faq {
  .container {
    @include for-769-px {
      padding: 0 20px;
    }

    @include for-470-px {
      padding: 0 10px;
    }
  }

  padding: 20px 0 60px;

  @include for-470-px {
    padding-bottom: 30px;
  }

  &__title {
    @extend %Roboto-900;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 40px;

    @include for-1025-px {
      font-size: 35px;
      line-height: 41px;
    }

    @include for-769-px {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 20px;
    }

    @include for-470-px {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }
  }

  &__item {
    background-color: $main;
    border-radius: 0px 50px;
    padding: 40px 30px;

    &:not(:last-child) {
      margin-bottom: 30px;

      @include for-769-px {
        margin-bottom: 20px;
      }
    }

    @include for-470-px {
      padding: 25px 20px 30px;
    }
  }

  &__item-title {
    @extend %Roboto-700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;

    @include for-769-px {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__item-text {
    @extend %Roboto-300;
    margin-bottom: 30px;

    @include for-769-px {
      font-size: 14px;
      line-height: 16px;
    }

    @include for-470-px {
      margin-bottom: 20px;
    }
  }

  &__item-buttons {
    @extend %Roboto-700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }

  &__btn-like {
    padding: 12px 22px 12px 50px;
    background-color: $accent;
    color: #ffffff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 13px;
      top: 6px;
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/like.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    span {
      margin-left: 12px;
    }
  }

  &__btn {
    padding: 12px 20px;
  }
}