.header {
  .container {
    @include for-769-px {
      padding: 0 20px;
    }

    @include for-470-px {
      padding: 0 10px;
    }
  }

  padding: 40px 0;
  z-index: 10;
  border-bottom: 1px dashed $btn;

  @include for-470-px {
    padding: 25px 0 30px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    display: flex;
    position: relative;
    margin-right: 43px;
    max-width: 350px;
    width: 100%;

    @include for-725-px {
      display: none;
    }
  }

  &__search--mobile {
    display: none;

    @include for-725-px {
      display: flex;
    }
  }

  &__search-btn--mobile {
    width: 20px;
    height: 23px;
    background-image: url('../images/icons/search-black.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  &__search::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/search-grey.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__search-input {
    width: 100%;
    color: #c4c4c4;
    padding: 12px 15px 12px 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #979797;
    outline: transparent;
    margin-right: 5px;

    &::placeholder {
      color: #c4c4c4;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1.2px;
    }
  }

  &__search-btn {
    padding: 12px 18px;
    height: 40px;
    background-color: $btn;
    color: #ffffff;
    @extend %Roboto-500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__users {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__lk {
    margin-right: 26px;

    @include for-321-px {
      margin-right: 20px;
    }
  }

  &__modal {
    position: absolute;
    padding: 25px 27px;
    font-size: 14px;
    color: $link;
    width: 150px;
    box-shadow: 0 7px 4px -3px rgb(0 0 0 / 15%);
    background-color: #ffffff;
    top: calc(100% + 10px);
    right: 15px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }

  &__modal-link {
    display: flex;

    &:last-child {
      margin-top: 7px;
    }
  }

  &__modal--open {
    opacity: 1;
    pointer-events: auto;
  }

  &__burger {
    width: 23px;
    height: 16px;
    background-image: url('../images/icons/burger-black.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__nav {
    position: absolute;
    background-color: #ffffff;
    z-index: 99;
    top: 0;
    left: 0;
    padding: 17px 0 23px;
    transform: translateY(-200%);
    transition: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
    display: flex;
    opacity: 0;
  }

  &__nav--open {
    transform: translateY(0);
    box-shadow: 0 7px 4px -3px rgb(0 0 0 / 15%);
    opacity: 1;
  }

  &__nav-item {
    flex: 0 1 220px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__nav-title {
    @extend %Roboto-700;
    color: $text;
    font-size: 14px;
  }

  &__nav-link {
    display: flex;
    margin-top: 20px;
    color: $link;
    font-size: 14px;
  }

  &__burger--open {
    z-index: 200;
    background-image: url('../images/icons/close-burger.svg');
    transition: all .3s ease-in;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    margin-right: 10px;

    @include for-470-px {
      width: 80px;
    }
  }

  &__text {
    color: $btn;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;

    @include for-470-px {
      font-size: 12px;
      line-height: 14px;
    }
  }
}