.slider-reviews {

  .container {
    @include for-769-px {
      padding: 0 20px;
    }
  }

  padding-bottom: 70px;
  position: relative;

  @include for-769-px {
    padding-bottom: 50px;
  }

  &__wrapper {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 20px;
    position: relative;
    margin-bottom: 20px;

    @include for-321-px {
      margin-bottom: 30px;
    }
  }

  &__inner {
    overflow: hidden;
    border-radius: 0 120px;
    position: static;

    @include for-1025-px {
      border-radius: 0 80px;
    }

    @include for-470-px {
      border-radius: 0 0 0 50px;
    }
  }

  &__item {
    width: 350px;
    max-height: 330px;
    display: flex;
    flex-direction: column;

    @include for-769-px {
      width: 360px;
    }

    @include for-470-px {
      border-radius: 0 0 0 50px;
      overflow: hidden;
    }
  }

  &__box {
    padding: 30px 30px 13px 30px;
    background-color: #FFF8EE;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 11px;
  }

  &__name,
  &__num {
    @extend %Roboto-700;
    font-size: 16px;
    line-height: 19px;
    color: $text;
  }

  &__rait {
    display: flex;
    align-items: center;
  }

  &__star {
    margin-right: 6px;
  }

  &__text {
    padding: 20px 30px 55px 30px;
    background-color: $default;
    @extend %Roboto-300;
    color: $text;
    font-size: 16px;
    line-height: 19px;
    height: 133px;
  }

  &__links {
    text-align: right;

    @include for-470-px {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__add {
    padding: 16px 28px;
    text-transform: uppercase;
    background-color: $accent;
    color: #ffffff;
    @extend %Roboto-700;
    font-size: 16px;
    line-height: 19px;
    margin-right: 264px;

    @include for-1025-px {
      margin-right: 183px;
    }

    @include for-769-px {
      margin-right: 82px;
    }

    @include for-470-px {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: $accent;
    padding-right: 38px;
    text-decoration: underline;
    position: relative;

    @include for-769-px {
      font-size: 14px;
      line-height: 16px;
    }

    @include for-470-px {
      order: -1;
      margin-bottom: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      width: 24px;
      height: 14px;
      background-image: url('../images/icons/right-orange.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-prev {
    left: 0;
  }

  &__btn-next {
    right: 0;
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.modal {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 35px 30px 50px;
  border-radius: 30px;
  max-width: 600px;
  width: 100%;
  z-index: 200;
  transition: opacity .1s ease-in;

  @include for-470-px {
    max-width: 320px;
    padding: 20px 20px;
  }

  &__close {
    width: 20px;
    height: 20px;
    font-size: 40px;
    @extend %Roboto-300;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend %Roboto-900;
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;

    @include for-470-px {
      font-size: 24px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__form-star {
    margin: 0 auto 30px;
  }

  &__form-input {
    width: 100%;
    height: 50px;
    border: 1px solid #B6CCE4;
    padding: 0 20px;
    border-radius: 0;
    outline: transparent;
    margin-bottom: 40px;

    &::placeholder {
      color: #B6CCE4;
    }
  }

  &__form-textarea {
    padding: 10px 20px;
    height: 130px;
    resize: none;
    border: 1px solid #B6CCE4;
    margin-bottom: 15px;
    outline: transparent;

    &::placeholder {
      color: #B6CCE4;
    }
  }

  &__form-captcha {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
  }

  &__form-captcha-img {
    margin-right: 15px;
    width: 120px;
    height: 50px;
  }

  &__form-captcha-input {
    width: 150px;
    height: 50px;
    border: 1px solid #B6CCE4;
    padding: 0 20px;
    border-radius: 0;
    outline: transparent;
  }

  &__form-btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    color: #ffffff;
    @extend %Roboto-700;
    font-size: 14px;
  }
}

.modal--active {
  opacity: 1;
  pointer-events: all;
}

.modal-sendcomment {
  opacity: 0;
  pointer-events: none;
  border-radius: 30px;
  max-width: 600px;
  width: 100%;
  padding: 35px 30px 50px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;

  @include for-470-px {
    max-width: 320px;
  }


  &__title {
    @extend %Roboto-900;
    margin: 0 auto 30px;
    font-size: 30px;

    @include for-470-px {
      font-size: 20px;
    }
  }

  &__close {
    width: 20px;
    height: 20px;
    font-size: 40px;
    @extend %Roboto-300;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__text {
    text-align: center;
    margin-bottom: 40px;
  }

  &__end {
    width: 200px;
    height: 50px;
    background-color: $accent;
    color: #ffffff;
    @extend %Roboto-700;
    font-size: 16px;
    margin: 0 auto;
  }
}

.modal-sendcomment--active {
  opacity: 1;
  pointer-events: all;
}